main {
    font-family: Arial, sans-serif;
    margin: 2rem;
}

h1 {
    font-size: 36px;
    font-weight: 900;
    text-align: center;
    margin-bottom: 2rem;
}
th {
    font-size: 24px;
    font-weight: 800;
}
.column-0 {
    text-align: left !important;
    width: 20rem;
}
.column-1 {
    text-align: center !important;
    width: 10rem;
}

.footer {
    background-color: #b1b6fc;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    margin-top: 2rem;
    padding: 0.5rem;
}
.button {
    margin: 1rem;
    padding: 0.5rem 1rem;
    font-size: 16px;
    border: 2px solid #636efa;
    background-color: transparent;
    border-radius: 8px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, color 0.3s;
}
.button:hover {
    background-color: #b1b6fc;
    cursor: pointer;
}
.button:active {
    background-color: #8a94f9;
}
.row {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    gap: 1rem;
}

.Select-control {
    border: 2px solid #636efa;
    border-radius: 8px;
    width: 200px;
}

input {
    border: 2px solid #636efa;
    border-radius: 8px;
    padding: 0.5rem;
    font-size: 16px;
}

.section {
    padding: 1rem;
    margin: 1rem 0;
    box-shadow: -4px 4px 5px #636efa60;
}